@media(max-width: 992px){
    .header__label{
    display:block !important;
}
.header__nav__ul{
    position: fixed;
    top: 80px;
    bottom: 0;
    background-color: rgb(216, 146, 121);
    width: 100%;
    left: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
}
.header__nav__container{
    color: #fff;
}
.header__input:checked + .header__nav__ul{
    clip-path: circle(100% at center);
}
#contenido{
    background-color: #b3f5df;
    max-width: 100%;
    border: 1%;
    overflow: scroll;   
    display: grid;}
.main__div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.main__div__img{    
     max-width: 100%;

}
.main__div__parrafo{
max-width: 100%;

}
.main__div__parrafo__img{
max-width: 100%;
}
.main__div{
display: grid;
justify-content: flex-start;
gap: 5px;
align-items: center;

}
.mb-3{
display: contents;
justify-content: center;
}
.titular{
background-color: #b3f5df;
   &.__productos{  align-items: center;}
}
.ImgMapa{
    display: grid;
}
.main__div__productos {
    display: flex  !important ;
    gap: 7px;
    flex-direction: column  !important ;
    align-items: center;
}
.fondo--contacto {
background-color: #b3f5df;
padding-bottom: 50px;
display: flex;
flex-direction: row;
}
.botones{
white-space: nowrap;
}
.contacto__1{
    width: 80%;
    height: 450;
}
.contacto__2{
    width: 80%;
    height: 450;
}
.contacto2{
flex-direction: column;
justify-content: center;
align-items: center;
}
.pie{
display: grid;
background:linear-gradient(340deg, #8CC64A 55%, #334B85 25%);
margin-top: 1px;
padding-top: 10px;
}
.pie_a{
margin-right: 0px;
text-decoration: none;
color: #fff;
}
}
