.pie{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:linear-gradient(340deg, #8CC64A 55%, #334B85 25%);
    background:linear-gradient(345deg, #8CC64A 55%, #334B85 25%);
    margin-top: 1px;
    padding: 10px;
   
}
.pie a{
    text-decoration: none;
    color: #fff;
}
