.pie{
    display: grid;
    align-items: center;
<<<<<<< HEAD
    background:linear-gradient(340deg, #8CC64A 55%, #334B85 25%);
=======
    background:linear-gradient(345deg, #8CC64A 55%, #334B85 25%);
>>>>>>> 77db05bb146141deee94d70f89cd6d9eba03402b
    margin-top: 1px;
    padding-top: 10px;
}
.pie a{
    text-decoration: none;
    color: #fff;
}
