.pie{
    display: grid;
    align-items: center;
    background:linear-gradient(345deg, #8CC64A 55%, #334B85 25%);
    margin-top: 1px;
    padding-top: 10px;
}
.pie a{
    text-decoration: none;
    color: #fff;
}
